$green: #20c997;
$green2: #90e4bb;
$purple: #6f42c1;
$buttonWidth: 75px;
$gray: #b2b8be;
$pink: #cd36c1;

#dummy-assessment-hero {
	height: 150px;
	background: black;
}

#assessment-tool {
	font-family: 'gilroymedium';
	position: relative;

	> div {
		transition: .3s all ease;
	}

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		display: block;
		background-color: rgba(255,255,255,.75);
		background-image: $loaderBase64;
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0;
		transition: .3s all ease;
		pointer-events: none;
	}

	.is-disabled {
		pointer-events: none;
	}

	&.loading {
		pointer-events: none;
		&:before {
			opacity: 1;
		}
	}

	// button
	.common_cta {
		display: inline-block;
		cursor: pointer;
		transition: .3s all ease;
		&.is-disabled {
			opacity: .25;
			.cta-text {
				color: black !important;
			}
		}
		.cta-arrow-icon {
			justify-content: center;
			display: flex;
			svg {
				display: block;
				width: 30%;
			}
		}
	}

	.icreon-back-button {
		display: inline-flex;
		position: relative;
		cursor: pointer;
		align-items: center;
		&:before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 11'%3E%3Cpath fill='%23111' fill-rule='nonzero' d='M10.495.85l9 4.5-9 4.5v-4H.155v-1h10.34v-4z'/%3E%3C/svg%3E");
			width: 20px;
			height: 9px;
			margin-right: 10px;
			background-size: cover;
			transform: scaleX(-1);
			position: relative;
			top: -3px;
		}
		.text {
			color: $green2;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'gilroybold';
		}
	}

	.icreon-button {
		display: inline-flex;
		height: $buttonWidth;
		position: relative;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: $buttonWidth;
			border: 1px solid black;
			border-radius: 50%;
		}
		.arrow-wrapper {
			height: $buttonWidth;
			width: $buttonWidth;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: .3s all ease;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 11'%3E%3Cpath fill='%23111' fill-rule='nonzero' d='M10.495.85l9 4.5-9 4.5v-4H.155v-1h10.34v-4z'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-size: 35%;
				background-position: center;
			}
		}
		.label {
			transition: .3s all ease;
			height: $buttonWidth;
			width: $buttonWidth;
			white-space: nowrap;
			line-height: $buttonWidth;
			text-align: center;
			color: $green2;
			font-size: 15px;
			text-transform: uppercase;
			font-family: 'gilroybold';
		}
		&:hover {
			.arrow-wrapper {
				transform: translateX(100%);
			}
			.label {
				transform: translateX(-100%);
			}
		}

		&.prev {
			transform: scaleX(-1);
			.text {
				transform: scaleX(-1);
			}
		}
	}

	// container
	.custom-container {
		max-width: 1300px;
		padding-left: 25px;
		padding-right: 25px;
		margin: auto;
	}

	// steps
	.root-step {
		&:not(.initial-step) {
			display: none;
		}
	}

	.initial-step {
		.content-wrapper {
			padding-right: 12%;
		}
		> .row:first-child {
			padding: 70px 0;
			min-height: 100vh;
			align-items: center;
		}

		@include below($md) {
			.content-wrapper {
				padding-right: 15px;
				margin-bottom: 50px;
			}
		}
	}

	.steps-indicator {
		margin-bottom: 10px;
	}

	.eyebrow {
		color: $purple;
		text-transform: uppercase;
		margin-bottom: 48px;
		font-weight: 700;
		font-family: 'gilroysemibold';
		border-bottom: 5px solid $purple;
		padding-bottom: 10px;
		font-size: 14px;
		letter-spacing: 2px;
		display: inline-block;
	}

	.title {
		font-size: 26px;
		font-weight: 700;
		color: $purple;
		line-height: 32px;
		margin-bottom: 25px;
		font-family: 'gilroyextrabold';
	}

	.description {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 40px;
	}

	.questionnaire-step {
		.error-message {
			margin: -25px 0 40px;
			display: none;
		}
		&.is-error {
			.error-message {
				display: block;
			}
		}
		&:not(:first-child) {
			display: none;
		}
		.levels-wrapper {
			margin-bottom: 30px;
		}
		@include above($md) {
			.content-wrapper {
				padding-right: 50px;
			}
		}
		@include below($md) {
			.content-wrapper {
				margin-bottom: 50px;
			}
		}
	}

	.error-message {
		color: var(--red);
	}

	.infographic-wrapper {
		svg {
			display: block;
			width: 100%;
		}
	}

	// competencies step
	.competencies-step {
		display: none;
	}

	// evaluation step
	.evaluation-step,
	.analysis-step {
		padding: 70px 0;

		.buttons-wrapper {
			.prev {
				margin-right: 30px;
			}
		}

		@include below($md) {
			.buttons-wrapper {
				text-align: center;
				.prev {
					margin-right: 20px;
				}
			}
		}
	}

	// levels
	.level-wrapper {
		display: inline-flex;
		align-items: center;
		width: 100%;
		&:not(:first-child):not(:last-child) {
			margin-bottom: 15px;
		}

		.label {
			min-width: 95px;
			text-align: center;
			text-transform: capitalize;
			margin-bottom: 5px;
			font-family: 'gilroybold';
		}

		.level {
			text-transform: uppercase;
			border: 1px solid $purple;
			letter-spacing: 2px;
			padding: 5px 15px;
			display: inline-block;
			border-radius: 30px;
			white-space: nowrap;
			font-size: 14px;
			transition: .3s all ease;
			cursor: pointer;
			min-width: 95px;
			text-align: center;
			&:hover,
			&.is-active {
				color: white;
				background: $purple;
			}
		}

		.desired {
			padding-left: 20px;
			padding-right: 20px;
			.level {
				border: 1px solid $green;
				&:hover,
				&.is-active {
					color: white;
					background: $green;
				}
			}
		}

		.answer {
			font-size: 14px;
		}

		@include below($lg) {
			display: flex;
			flex-wrap: wrap;
			.current, .desired {
				width: 50%;
				padding: 0 10px;
				text-align: center;
			}
			.label {
				margin-bottom: 15px;
			}
			.answer {
				width: 100%;
				margin-top: 15px;
			}
			&:not(:first-child):not(:last-child) {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #ddd;
			}
		}
	}

	.questionnaire-categories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.category {
			width: 33.33%;
			text-align: center;
			transition: .3s all ease;
			opacity: .5;
			font-family: 'gilroybold';
			text-transform: capitalize;
			&.is-active {
				opacity: 1;
				&:after {
					background: $purple;
					border-color: $purple;
				}
			}
			&.is-done {
				&:after {
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgaWQ9ImluZm8iLz48ZyBpZD0iaWNvbnMiPjxwYXRoIGQ9Ik0xMCwxOGMtMC41LDAtMS0wLjItMS40LTAuNmwtNC00Yy0wLjgtMC44LTAuOC0yLDAtMi44YzAuOC0wLjgsMi4xLTAuOCwyLjgsMGwyLjYsMi42bDYuNi02LjYgICBjMC44LTAuOCwyLTAuOCwyLjgsMGMwLjgsMC44LDAuOCwyLDAsMi44bC04LDhDMTEsMTcuOCwxMC41LDE4LDEwLDE4eiIgaWQ9ImNoZWNrIi8+PC9nPjwvc3ZnPg==) no-repeat center center / cover;
					border: none;
					transform: scale(1.5);
				}
			}
			&:after {
				content: '';
				width: 12px;
				height: 12px;
				transition: .3s all ease;
				display: block;
				margin: 5px auto 10px;
				border: 1px solid black;
				border-radius: 50%;
			}
		}

	}

	// infographic base
	.infographic-base-wrapper {

		#details {
			// remove flickering
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translate3d(0,0,0);
		}

		&.is-disabled {
			#gray {
				opacity: 0;
			}
		}

		&:not(.is-disabled) {
			#trigger {
				cursor: pointer;
				&:hover + #details {
					opacity: 1;
					#gray {
						opacity: 0;
					}
				}
				&.is-active + #details {
					opacity: 1;
					#gray {
						opacity: 0;
					}
					#dot {
						opacity: 1;
					}
				}
			}
			#details {
				pointer-events: none;
				opacity: .5;
				transition: .3s all ease;
			}
			#gray {
				transition: .3s all ease;
			}
			#dot {
				opacity: 0;
				transition: .3s all ease;
			}
		}
	}

	// results
	.infographic-results-wrapper {
		#category {
			transition: .3s all ease;
			opacity: .5;
			&:not(.is-enabled) {
				g:nth-child(2),
				#dot {
					display: none;
				}
			}
			&.is-enabled {
				#gray {
					display: none;
				}
			}
			&.is-active {
				opacity: 1;
			}
		}
	}
	
	// tabs
	.tabs-content {
		.tab-content:not(:first-child) {
			display: none;
		}
	}

	.tabs-triggers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.tab-trigger {
			padding: 0 10px 15px;
			margin: 0 15px 10px;
			text-transform: capitalize;
			position: relative;
			transition: .3s all ease;
			opacity: .25;
			cursor: pointer;
			font-family: 'gilroysemibold';
			&:after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				height: 5px;
				background-image: linear-gradient(to right, #ce36c1, #3f36a1);
				width: 0%;
				transition: .3s all ease;
			}
			&:hover {
				opacity: 1;
			}
			&.is-active {
				opacity: 1;
				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
	}

	// analysis step
	.analysis-step {
		.eyebrow {
			margin-top: 40px;
		}
		.analysis-tabs {
			margin-bottom: 20px;
		}
		.content-wrapper {
			padding-right: 7%;
		}
		.title {
			text-transform: uppercase;
			.level {
				color: black;
			}
		}

		@include below($md) {
			.content-wrapper {
				padding-right: 15px;
				margin-bottom: 50px;
			}
		}
	}

	// form wrapper
	.form-wrapper {
		margin-top: 70px;
		padding-top: 70px;
		border-top: 1px solid #ddd;
		display: grid;
		grid-template-columns: 1fr 1fr;

		.title-wrapper {
			display: inline-flex;
			width: 100%;
			align-items: flex-start;
			padding-right: 20%;
			svg {
				display: block;
				width: 34px;
				margin-right: 20px;
			}
			.title {
				line-height: 47px;
				font-size: 40px;
				text-transform: uppercase;
				font-family: 'gilroybold';
				color: black;
			}
		}

		form {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 1fr 1fr;
		}

		.icreon-button {
			margin-top: 20px;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			border: none;
			background: unset;
			padding: 0;
			.label {
				padding-left: 20px;
				width: unset;
			}
			&:hover {
				.label {
					transform: translateX(-40px);
					padding-left: 0;
				}
				.arrow-wrapper {
					transform: translateX(90px);
				}
			}
		}

		input {
			border: none;
			border-bottom: 1px solid black;
			transition: .3s all ease;
			padding-bottom: 15px;
			width: 100%;
			font-family: 'gilroymedium';
			font-size: 20px;
			&:focus {
				border-color: $green;
			}
			&.error {
				border-color: var(--red);
			}
		}

		.error-message {
			margin-top: 10px;
		}

		// responsive
		@include above($md) {
			.email-wrapper {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}

		@include below($md) {
			grid-template-columns: 1fr;
			.title-wrapper {
				padding-right: 0;
				.title {
					font-size: 30px;
					line-height: 37px;
				}
			}
			.left-column {
				margin-bottom: 30px;
			}
			form {
				grid-template-columns: 1fr;
			}
		}

	}

} // assessment tool




.analysis-graph {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: 12px;
		border: 2px solid #ccc;
		background: #eee;
		border-radius: 50%;
		z-index: 1;
	}

	.edge-dots {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 1px;
		margin-top: -1px;
		z-index: 1;
		height: 2px;
		background: #ddd;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 0;
			height: 2px;
			background-color: $purple;
		}

		.dot {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 12px;
				height: 12px;
				border: 2px solid #ccc;
				background: #eee;
				border-radius: 50%;
				left: 0;
				z-index: 1;
			}

			&:first-child {
				&:after {
					left: 25%;
				}
			}

			&:last-child {
				&:before {
					left: unset;
					right: 0;
				}
				&:after {
					left: unset;
					right: 25%;
				}
			}
		}
	}

	.level {
		width: 50%;
		position: relative;
		text-align: center;
		z-index: 2;
		.dot {
			background: $purple;
			width: 15px;
			height: 15px;
			border: 2px solid $purple;
			display: block;
			border-radius: 50%;
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.level {
			position: absolute;
		}
		.label-wrapper {
			text-transform: uppercase;
			letter-spacing: 2px;
			justify-content: center;
			font-size: 12px;
			height: 70px;
			display: flex;
			flex-wrap: wrap;
			> div {
				width: 100%;
			}
		}
		.number {
			font-size: 22px;
			color: $purple;
			line-height: 70px;
		}

		// levels
		&.level-1 {
			text-align: left;
			.label-wrapper {
				justify-content: flex-start;
			}
			.dot {
				left: 6px;
			}
			.number {
				padding-left: 1px;
			}
		}

		&.level-5 {
			text-align: right;
			.label-wrapper {
				justify-content: flex-end;
			}
			.dot {
				left: calc(100% - 6px);
			}
			.number {
				padding-right: 1px;
			}
		}
	}

	.current-level {
		.label-wrapper {
			align-items: flex-end;
			&:after {
				content: '';
				width: 12px;
				height: 18px;
				margin-bottom: 20px;
				display: block;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 21'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'%3E%3Cpath id='arrow' fill='%23111' fill-rule='nonzero' d='M5.495 5.85l9 4.5-9 4.5v-4h-10.34v-1h10.34z' transform='rotate(-90 4.825 10.35)'/%3E%3C/g%3E%3C/svg%3E");
				background-size: contain;
				transform: scaleY(-1);
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		&.level-2 {
			left: 6px;
			+ .edge-dots:before {
				width: 25%;
			}
		}
		&.level-3 {
			transform: translateX(50%);
			+ .edge-dots:before {
				width: 50%;
			}
		}
		&.level-4 {
			transform: translateX(100%);
			right: 6px;
			+ .edge-dots:before {
				width: 75%;
			}
		}
		&.level-5 {
			transform: translateX(100%);
			+ .edge-dots:before {
				width: 100%;
			}
		}
	}

	.desired-level {
		margin-left: auto;
		.dot {
			background: lighten($green, 40%);
			border-color: $green;
			&:before, &:after {
				content: '';
				position: absolute;
				border-radius: 50%;
				border: 1px solid $green;
			}
			&:before {
				border-color: lighten($green, 15%);
				@include inset(-8px);
				animation: 1s ripple infinite;
			}
			&:after {
				border-color: lighten($green, 30%);
				@include inset(-14px);
				animation: 1s ripple infinite .15s;
			}
		}
		.number {
			color: $green;
		}
		.label-wrapper {
			align-items: flex-end;
			&:before {
				content: '';
				width: 12px;
				height: 18px;
				display: block;
				margin-top: 20px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 21'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'%3E%3Cpath id='arrow' fill='%23111' fill-rule='nonzero' d='M5.495 5.85l9 4.5-9 4.5v-4h-10.34v-1h10.34z' transform='rotate(-90 4.825 10.35)'/%3E%3C/g%3E%3C/svg%3E");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&.level-1 {
			transform: translateX(-100%);
		}
		&.level-2 {
			transform: translateX(-100%);
			left: 6px;
		}
		&.level-3 {
			transform: translateX(-50%);
		}
		&.level-4 {
			right: 6px;
		}
	} // desired level ends

	&.same-level {
		.current-level {
			visibility: hidden;
		}
		.edge-dots:before {
			display: none;
		}
		.desired-level {
			.dot {
				background: $purple;
				border-color: $pink;
				&:before {
					border-color: lighten($pink, 15%);
				}
				&:after {
					border-color: lighten($pink, 30%);
				}
			}
			.number {
				color: $pink;
			}
		}
	}

} // analysis graph


@keyframes ripple {
	0% {
		opacity: 0%;
		transform: scale(0);
	}
	50% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
	}
}




// results page
#assessment-tool .assessment-tool-results {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;

	> div {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.loading {
		font-size: 18px;
		color: $gray;
		text-align: center;
		display: flex;
		align-items: center;

		.text {
			position: relative;
			&:before {
				content: '';
				width: 30px;
				margin: auto;
				margin-bottom: 10px;
				height: 30px;
				z-index: 1;
				display: block;
				background-image: $loaderBase64;
				background-size: cover;
			}
		}
	}

	.content {
		display: none;
		margin-bottom: auto;
		// min-height: calc(100vh - 244px);
		&:not(:first-child) {
			margin-top: 30px;
			border-bottom: 50px solid white;
		}
	}

	.big-title {
		padding: 40px 0 30px;
		border-bottom: 1px solid #ddd;
		margin-bottom: auto;
		font-family: 'Gilroy-Black';
		font-size: 44px;
		line-height: 1.02;
		text-transform: uppercase;
		color: black;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 45px;
			left: -95px;
			width: 56px;
			height: 15px;
			background-image: linear-gradient(to right, #134285 0%, #65318f 100%);
		}
	}

	.legends {
		max-width: 603px;
		margin: 0 auto;
		background: #f5f5f5;
		padding: 13px 18px;
		border-radius: 5px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
		border: 1px solid #eee;
		.legend-title {
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 5px;
			font-size: 14px;
			font-family: 'gilroybold';
		}
		.legend-list {
			font-family: 'gilroysemibold';
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-transform: capitalize;
			counter-reset: number;
		}
		.legend-item {
			counter-increment: number;
			display: inline-flex;
			line-height: 1;
			align-items: flex-end;
			&:before {
				content: counter(number);
				color: $purple;
				padding-right: 5px;
				font-size: 20px;
				position: relative;
				top: 1px;
				font-family: 'Gilroy-Black';
			}
		}
	}

	.infographic-results-wrapper {
		margin: 50px auto;
		max-width: 550px;
	}

	.selected-categories {
		margin-bottom: 50px;
		.title {
			color: black;
			font-size: 28px;
			font-family: 'Gilroy-Black';
			margin-bottom: 30px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.category-name {
			text-align: center;
			letter-spacing: 1.5px;
			padding-bottom: 15px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}

		.categories {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -20px;
		}

		.category-wrapper {
			width: 33.33%;
			padding: 20px;
		}

		.category {
			box-shadow: 0 2px 30px 0 rgba(97, 92, 92, 0.15);
			padding: 20px 25px 30px;
			background: white;
			border: 1px solid #eee;
		}
	}

	.level {
		width: 55px;
		text-align: center;
		.number {
			font-size: 45px;
			line-height: 1;
			color: $purple;
		}
		.label {
			margin-bottom: 10px;
			font-size: 14px;
			letter-spacing: 1px;
		}
	}

	.desired-level {
		.number {
			color: $green;
		}
		.bar-graph .bar:before {
			background: $green;
		}
	}

	.bar-graph-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.arrow {
			width: 20px;
			margin: 0 20px;
			transform: scaleX(-1);
		}
	}

	.bar-graph {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		.bar {
			margin: 0 1px;
			width: 4px;
			height: 20px;
			background: $gray;
			transform-origin: bottom;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $purple;
				display: none;
			}
			&:nth-child(1) {
				height: 8px;
			}
			&:nth-child(2) {
				height: 11px;
			}
			&:nth-child(3) {
				height: 14px;
			}
			&:nth-child(4) {
				height: 17px;
			}
		}

		&.level-1 {
			.bar:nth-child(1):before {
				display: block;
			}
		}
		&.level-2 {
			.bar:nth-child(1):before,
			.bar:nth-child(2):before {
				display: block;
			}
		}
		&.level-3 {
			.bar:nth-child(1):before,
			.bar:nth-child(2):before,
			.bar:nth-child(3):before {
				display: block;
			}
		}
		&.level-4 {
			.bar:nth-child(1):before,
			.bar:nth-child(2):before,
			.bar:nth-child(3):before,
			.bar:nth-child(4):before {
				display: block;
			}
		}
		&.level-5 {
			.bar:nth-child(1):before,
			.bar:nth-child(2):before,
			.bar:nth-child(3):before,
			.bar:nth-child(4):before,
			.bar:nth-child(5):before {
				display: block;
			}
		}
	}

	// unselected categories
	.unselected-categories {
		margin-bottom: 60px;
		.title {
			color: #b0b0b0;
			font-size: 20px;
			font-family: 'Gilroy-Black';
			letter-spacing: 1px;
			margin-bottom: 10px;
			text-align: center;
			text-transform: uppercase;
		}
		.categories {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -10px;
		}
		.category {
			width: calc(20% - 20px);
			margin: 10px;
			color: #aaa;
			border: 1px solid #ddd;
			font-size: 14px;
			letter-spacing: 1.5px;
			text-align: center;
			text-transform: uppercase;
			line-height: 1.35;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// cta wrapper
	.cta-wrapper {
		text-align: center;

		.line {
			width: 350px;
			height: 5px;
			margin: 0 auto 25px;
			background: linear-gradient(to right, #134285 0%, #3f36a1 100%);
		}

		.title {
			font-size: 34px;
			line-height: 1.15;
			color: black;
			margin-bottom: 30px;
			font-family: 'Gilroy-Black';
		}

		.cta-button {
			background: #90e4bb;
			padding: 10px 20px;
			display: inline-block;
			letter-spacing: 1px;
			border-radius: 30px;
			text-transform: uppercase;
			text-decoration: none;
			font-family: 'gilroymedium';
		}
	}

	.footer {
		margin-top: auto;
		padding: 20px 0;
		border-top: 1px solid #ddd;
		color: $gray;
	}


	// direct results
	&.direct-results {
		padding: 70px 25px;
		min-height: unset;
		display: none;
		.eyebrow-wrapper {
			text-align: center;
		}
		.eyebrow {
			margin-bottom: 0;
		}
		.content {
			min-height: unset;
			display: block;
		}
		.infographic-results-wrapper {
			max-width: 650px;
		}
		.buttons-wrapper {
			margin-bottom: 60px;
		}
		.button-wrapper {
			text-align: center;
			&:first-child {
				margin-bottom: 30px;
			}
		}
	}

	// responsive
	@include below($lg) {
		.selected-categories {
			.categories {
				margin: -10px;
			}
			.category-wrapper {
				width: 50%;
				padding: 10px;
			}
		}

		.unselected-categories {
			.category {
				width: calc(33.33% - 20px);
			}
		}
	}

	@include below($md) {
		.selected-categories {
			.categories {
				margin: 0;
			}
			.category-wrapper {
				width: 100%;
				padding: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
		.unselected-categories {
			.category {
				width: 100%;
			}
		}
	}
}
