@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-BlackComp-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-BlackComp-woff.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-LightItalic-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-LightItalic-woff.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-RegularItalic-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-RegularItalic-woff.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-LightCond-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-LightCond-woff.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-ThinItalic-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-ThinItalic-woff.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-UltraBlackComp-woff2.woff2')
			format('woff2'),
		url('../fonts/Interstate/Interstate-UltraBlackComp-woff.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-RegularComp-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-RegularComp-woff.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-BoldCond-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-BoldCond-woff.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-ExtraLightItalic-woff2.woff2')
			format('woff2'),
		url('../fonts/Interstate/Interstate-ExtraLightItalic-woff.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate/Interstate-BlackCond-woff2.woff2') format('woff2'),
		url('../fonts/Interstate/Interstate-BlackCond-woff.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FreightDisp Pro';
	src: url('../fonts/FreightDispPro/FreightDispProBook-Regular-woff2.woff2') format('woff2'),
			url('../fonts/FreightDispPro/FreightDispProBook-Regular-woff.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
